.main-nav__logo-block,
.main-nav__logo-block.focus-visible {
  transition: border-radius .1s,outline .1s,outline-offset .1s
}
.main-nav__top {
  position: relative;
  padding: 8px 0 5px;
  margin: 0 0 11px
}
.main-nav__top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-boulder);
  opacity: .5
}
.main-nav__top-container {
  display: flex
}
.main-nav__logo-block {
  display: inline-block;
  z-index: 11
}
.main-nav__logo-block.focus-visible {
  outline-offset: 5px
}
.main-nav__logo-block:focus-visible {
  border-radius: 15px;
  outline: 2px solid var(--color-flush-orange);
  outline-offset: 5px;
  transition: border-radius .1s,outline .1s,outline-offset .1s
}
@media only screen and (min-width:0) and (max-width:767px) {
  .main-nav__top {
    padding: 20.5px 0;
    margin: 0
  }
  .main-nav__top::after {
    display: none
  }
  .main-nav__top-container {
    align-items: center;
    justify-content: space-between
  }
  .main-nav__logo-block {
    margin: 0
  }
}
@media only screen and (min-width:768px) and (max-width:1023px) {
  .main-nav__top-container {
    align-items: center;
    justify-content: space-between
  }
  .main-nav__logo-block {
    margin: 0 25px 0 0
  }
}
@media only screen and (min-device-width:1024px) and (max-device-width:1279px) {
  .main-nav__logo-block {
    margin: 0 25px 0 0
  }
}
@media only screen and (min-device-width:1280px) {
  .main-nav__logo-block {
    margin: 0 110px 0 0
  }
}
.main-nav__logo-img {
  vertical-align: top
}
.main-nav__mobile-menu {
  position: relative;
  width: 100%;
  padding: 15px 0 0 20px
}
@media only screen and (min-width:0) and (max-width:767px) {
  .main-nav__mobile-menu {
    position: fixed;
    top: 85px;
    left: -100%;
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100% - 85px);
    background: var(--gradient-main);
    transition: left .5s cubic-bezier(.79,.14,.15,.86);
    z-index: 10
  }
}
@media only screen and (min-width:768px) and (max-width:1023px) {
  .main-nav__mobile-menu {
    padding: 0
  }
}
.main-nav__mobile-menu--active {
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
  transition: left .5s cubic-bezier(.79,.14,.15,.86)
}
.main-nav__mobile-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%
}
@media only screen and (min-width:0) and (max-width:767px) {
  .main-nav__mobile-inner {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 0 0 0 5%;
    margin: auto
  }
  .main-nav__mobile-inner .main-nav__search-block {
    display: block;
    margin: 20px 0 0
  }
}
@media only screen and (min-width:768px) and (max-width:1023px) {
  .main-nav__mobile-inner {
    align-items: center
  }
}
@media only screen and (min-width:768px) {
  .main-nav__mobile-inner .main-nav__search-block {
    display: none
  }
}
.main-nav__mobile-list {
  display: flex
}
.main-nav__mobile-list--second {
  display: none
}
@media only screen and (min-width:0) and (max-width:767px) {
  .main-nav__mobile-list {
    flex-direction: column
  }
  .main-nav__mobile-list--main {
    position: relative;
    width: 100%;
    padding: 0 0 15px;
    margin: 0 0 10px
  }
  .main-nav__mobile-list--main::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 1px;
    background-color: var(--color-white);
    opacity: .5
  }
  .main-nav__mobile-list--second {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 0 15px;
    margin: 0 0 10px
  }
  .main-nav__mobile-list--second::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 1px;
    background-color: var(--color-white);
    opacity: .5
  }
}
.main-nav__mobile-item--main {
  display: inline-block;
  margin: 0 35px 0 0
}
.main-nav__mobile-item--main:last-child {
  margin: 0
}
@media only screen and (min-width:0) and (max-width:767px) {
  .main-nav__mobile-item--main {
    width: 100%;
    margin: 0 0 10px
  }
}
@media only screen and (min-width:768px) and (max-width:1023px) {
  .main-nav__mobile-item--main {
    margin: 0 15px 0 0
  }
}
@media only screen and (min-width:0) and (max-width:767px) {
  .main-nav__mobile-item--second {
    display: inline-block;
    width: 100%;
    margin: 0 0 5px
  }
}
.main-nav__mobile-link {
  display: block;
  border-radius: 46px;
  transition: color .3s,outline .1s,outline-offset .1s
}
.main-nav__mobile-link--main,
.main-nav__mobile-link--second {
  display: inline-block;
  position: relative
}
.main-nav__mobile-link:hover {
  color: var(--color-fiery-orange);
  transition: color .3s
}
.main-nav__mobile-link.focus-visible {
  outline: 2px solid var(--color-flush-orange);
  outline-offset: 5px;
  transition: outline .1s,outline-offset .3s
}
.main-nav__mobile-link:focus-visible {
  outline: 2px solid var(--color-flush-orange);
  outline-offset: 5px;
  transition: outline .1s,outline-offset .3s
}
.main-nav__mobile-link--main {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-boulder)
}
@media only screen and (min-width:0) and (max-width:767px) {
  .main-nav__mobile-link--main {
    font-size: 20px;
    line-height: 130%;
    color: var(--color-white)
  }
  .main-nav__mobile-link--second {
    font-size: 17px;
    line-height: 130%;
    color: var(--color-white);
    opacity: .9
  }
}
.main-nav__info-block {
  display: flex;
  align-items: flex-end
}
@media only screen and (min-width:0) and (max-width:767px) {
  .main-nav__info-block {
    align-items: center;
    justify-content: space-between;
    width: 90%
  }
}
.main-nav__phone {
  border-radius: 42px;
  transition: outline .1s,outline-offset .1s
}
.main-nav__phone.focus-visible {
  outline: 2px solid var(--color-flush-orange);
  outline-offset: 5px;
  transition: outline .1s,outline-offset .1s
}
.main-nav__phone:focus-visible {
  outline: 2px solid var(--color-flush-orange);
  outline-offset: 5px;
  transition: outline .1s,outline-offset .1s
}
@media only screen and (min-width:768px) and (max-width:1023px) {
  .main-nav__info-block {
    flex-direction: column;
    align-items: flex-start
  }
  .main-nav__phone {
    margin: 0 0 10px
  }
}
@media only screen and (min-device-width:1024px) and (max-device-width:1279px) {
  .main-nav__phone {
    margin: 0 15px 0 0
  }
}
@media only screen and (min-device-width:1280px) {
  .main-nav__phone {
    margin: 0 45px 0 0
  }
}
.main-nav .main-nav__time,
.main-nav__phone {
  display: flex;
  align-items: center
}
.main-nav .main-nav__time-icon,
.main-nav__phone-icon {
  filter: invert(30%) sepia(57%) saturate(601%) hue-rotate(340deg) brightness(95%) contrast(84%);
  margin: 0 5px 0 0
}
@media only screen and (min-width:0) and (max-width:767px) {
  .main-nav .main-nav__time-icon,
  .main-nav__phone-icon {
    width: 15px;
    height: 15px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
    margin: 0 5px 0 0
  }
}
.inside__floor:last-child,
.main-nav__bottom-item:last-child {
  margin: 0
}
.main-nav .main-nav__time-text,
.main-nav__phone-text {
  background: var(--gradient-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px
}
.main-nav__phone:hover .main-nav__phone-text {
  background: var(--color-black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.main-nav__phone:hover .main-nav__phone-icon {
  filter: brightness(0) saturate(100%) invert(0) sepia(90%) saturate(7460%) hue-rotate(184deg) brightness(108%) contrast(108%)
}
.main-nav__time {
  user-select: none
}
.aboutPage-features__img,
.blog__tabs-button {
  -webkit-user-select: none;
  -moz-user-select: none
}
.main-nav__burger {
  display: none
}
@media only screen and (min-width:0) and (max-width:767px) {
  .main-nav .main-nav__time-text,
  .main-nav__phone-text {
    background: var(--color-white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 11px
  }
  .main-nav__burger {
    display: grid;
    grid-template: repeat(3,1fr)/repeat(3,1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 5px;
    width: 30px;
    height: 30px;
    transition: .1s;
    z-index: 11
  }
}
.main-nav__burger-dot {
  width: 7px;
  height: 7px;
  background-color: var(--color-black);
  border-radius: 50%;
  transition: .3s
}
.main-nav__burger--active {
  transform: rotate(45deg);
  transition: .1s
}
.main-nav__burger--active .main-nav__burger-dot:nth-child(even) {
  opacity: 0;
  transition: .1s
}
.main-nav__bottom {
  display: block
}
@media only screen and (min-width:0) and (max-width:767px) {
  .main-nav__bottom {
    display: none
  }
}
.main-nav__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.main-nav__bottom-list {
  display: flex
}
.main-nav__bottom-item {
  margin: 0 35px 0 0
}
.main-nav__bottom-link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-shark);
  transition: color,outline,outline-offset,.3s
}
.main-nav__bottom-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-fiery-orange);
  transform: translateX(-102%);
  transition: transform .3s
}
.main-nav__bottom-link:hover {
  color: var(--color-fiery-orange);
  transition: .3s
}
.main-nav__bottom-link:hover::after {
  transform: translateX(0);
  transition: transform .3s
}
.main-nav__bottom-link.focus-visible {
  border-radius: 46px;
  transition: outline,outline-offset .1s
}
.main-nav__bottom-link:focus-visible {
  border-radius: 46px;
  transition: outline,outline-offset .1s
}
.main-nav__bottom-link.focus-visible.focus-visible {
  outline: 2px solid var(--color-flush-orange);
  outline-offset: 5px;
  transition: outline,outline-offset .1s
}
.main-button.focus-visible,
.main-nav__search-button.focus-visible {
  outline: 2px solid var(--color-flush-orange)
}
.main-nav__bottom-link:focus-visible:focus-visible {
  outline: 2px solid var(--color-flush-orange);
  outline-offset: 5px;
  transition: outline,outline-offset .1s
}
.main-nav__search-block {
  position: relative
}
@media only screen and (min-width:768px) and (max-width:1023px) {
  .main-nav__bottom-container {
    flex-wrap: wrap
  }
  .main-nav__bottom-list {
    justify-content: space-between;
    width: 100%
  }
  .main-nav__search-block {
    padding: 0 0 10px;
    margin: 10px 0 0 auto
  }
}
.main-nav__search-block form {
  position: relative
}
.main-nav__search-block .shopsCatalogue-list__search-icon {
  right: auto
}
.main-nav__search-field {
  width: 580px;
  height: 38px;
  background: var(--color-white);
  box-shadow: 0 0 5px rgba(0,0,0,.25);
  border: none;
  border-radius: 48px;
  outline: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: var(--color-shark);
  transition: box-shadow .1s,outline .1s;
  padding: 10px 60px 10px 15px
}
.main-nav__search-field.focus-visible {
  box-shadow: 0 0 0 2px inset var(--color-flush-orange)
}
.main-nav__search-field:focus-visible {
  box-shadow: 0 0 0 2px inset var(--color-flush-orange)
}
@media only screen and (min-width:0) and (max-width:767px) {
  .main-nav__search-field {
    width: 100px
  }
}
@media only screen and (min-width:768px) and (max-width:1023px) {
  .main-nav__search-field {
    width: 180px
  }
}
@media only screen and (min-device-width:1024px) and (max-device-width:1279px) {
  .main-nav__search-field {
    width: 400px
  }
}
.main-nav__search-button {
  position: absolute;
  top: 50%;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  transition: outline .1s
}
.main-nav__search-button:hover .main-nav__search-icon {
  filter: brightness(0) saturate(100%) invert(54%) sepia(97%) saturate(3137%) hue-rotate(2deg) brightness(106%) contrast(103%)
}
.main-nav__search-button:focus-visible {
  outline: 2px solid var(--color-flush-orange)
}