<section class="new-promos">
  <div class="new-promos__heading">
    <span class="new-promos__label">Акции</span>
    <div class="new-promos__slider-pagination"></div>
  </div>
  <div class="new-promos__body">
    <div class="new-promos__slider-container">
      <div class="new-promos__slider swiper">
        <div class="new-promos__slider-wrapper swiper-wrapper">
          <div class="new-promos__slider-slide swiper-slide">
            <figure class="new-promos__slide-image base-figure">
              <img class="new-promos__slide-img" src="https://picsum.photos/300/140?random=4" width="305" height="140" alt="#">
            </figure>
            <div class="new-promos__info-block">
              <span class="new-promos__info-main">Скидка 69%</span>
              <span class="new-promos__info-second">c 15 декабря по 31 декабря</span>
            </div>
          </div>
          <div class="new-promos__slider-slide swiper-slide">
            <figure class="new-promos__slide-image base-figure">
              <img class="new-promos__slide-img" src="https://picsum.photos/300/140?random=5" width="305" height="140" alt="#">
            </figure>
            <div class="new-promos__info-block">
              <span class="new-promos__info-main">Скидка 69%</span>
              <span class="new-promos__info-second">c 15 декабря по 31 декабря</span>
            </div>
          </div>
        </div>
      </div>
      @@include('_arrows.html')
    </div>
  </div>
</section>